# =========================
# ARQUIVOS SENSÍVEIS
# =========================
.env

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# EDITORES
# =========================
.vscode/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log